.idea/
memos/
.venv/

apps/frontend/.next/
apps/frontend/node_modules/
apps/frontend/next-env.d.ts/
apps/frontend/.swc/
apps/frontend/.env.local

apps/backend/__pycache__/
apps/backend/.venv/

# Python bytecode
__pycache__/
*.py[cod]
