.idea/
memos/
.venv/
docs/
.env.local
docker/.env
apps/frontend/.next/
apps/frontend/node_modules/
apps/frontend/next-env.d.ts/
apps/frontend/.swc/
apps/frontend/.env.local

apps/.DS_Store
apps/backend/.DS_Store
apps/frontend/public/.DS_Store

apps/backend/__pycache__/
apps/backend/.venv/

.dockerignore
__pycache__/
*.py[cod]
